<%- include('../partials/header') %>

<main class="frontpage">
    <img class="frontpic" src="https://leaf.nutrisystem.com/wp-content/uploads/2017/01/ThinkstockPhotos-177313400.jpg" alt="health balance">
<h1>
    "Health is Wealth..."
</h1>
<p>
    Start your fitness journey and sign up <strong>TODAY</strong>!
</p>
</main>


  
<%- include('../partials/footer') %>
