body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(171, 114, 214);
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #b2b6b6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
  cursor: pointer;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.frontpage {
  text-align: center;
}

.frontpic {
  width: 500px; 
  margin: auto;
}

table {
  table-layout: fixed;
  width: 80%;
  margin-left: 15%;
  margin-right: 15%;
}

th {
  text-decoration: underline;
  font-size: 19px;
  padding: .8rem 0 .2rem 0;
}

td {
  text-align: center;
  font-size: 15px;
  padding: .8rem;
}

.exerciselog {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.veggies {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.multipleexercise {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 88%;
}

#exerciselist {
  padding-bottom: 50px;
}

h1 {
  font-size: 40px;
}